/*#region FONTS AND COLORS*/
.page p {
	font-family: "BaskervilleITC", sans-serif;
}

.page .center {
	text-align: center;
}

.page header {
	display: flex;
	justify-content: left;
	justify-items: flex-end;
    margin-top: 20px;
	border-top: 5px solid #007396;
}

.page h1, h2, h3, h4 {
	text-align: center;
	font-family: "FranklinGothic", sans-serif;
}

.page header h2 {
	width: 70%;
	text-align: left;
	text-decoration: underline;
	text-decoration-color: #B6A269;
	font-size: 58px;
	margin: auto 0;
	padding: 140px 60px 60px 60px;
}

.page ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.b-grey {
	background-color: #636466;
	color: white;
}

.b-gold {
	background-color: #B6A269;
	color: black;
}

.b-blue {
	background-color:  #007396;
	color: white;
}

.b-white {
	background-color: white;
	color: black;
}

.b-orange {
	background-color: #D45D00;
	color: white;
}

.b-red {
	background-color: #862633;
	color: white;
}

.b-black {
	background-color: black;
	color: white;
}

.b-shadow {
	box-shadow: 4px 4px #00000050;
}

.line {
	border-bottom: 2px solid black;
}
/*#endregion*/

.page .section {
	padding: 30px 60px;
}



.page .highlight-section {
	padding-bottom: 20px;
}



.page .important-note-section {
	width: 60%;
	align-self: center;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 10px;
	padding: 10px;
}

.page .important-note-section .icon {
	margin-top: 20px;
}

.page .important-note-section h3 {
	margin: 20px 0px;
}

.page .important-note-section p {
	margin: 20px 0px;
	padding: 10px 0px;
}

.page .info-section ul,
.page .highlight-section ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 20px 20px;
}

.page .info-section h3 {
	font-size: 38px;
	width: 100%;
}



.page .list-section p,
.page .checklist-section {
	font-size: 18px;
}

.page .bullet-highlight button {
	font-size: 18px;
	width: 100%;
	height: 100%;
	align-self: center;
	vertical-align: center;
	padding-top: 50;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: none;
	border: none;
	outline: none;
	text-align: center;
	align-items: center;
}

.page .highlight-section a {
	width: 50%;
	border-radius: 40px;
	border: 1px solid black;
	box-shadow: 2px 2px #00000050;
	font-size: 20px;
	text-emphasis: bold;
	align-self: center;
	display: flex;
	justify-content: center;
	padding: 30px;;
	text-align: center;
	margin-top: 20px;
	text-decoration: none;
}

.page .highlight-section a:hover {
	background-color: #D45D00;
	color: white;
}

.page .checklist-item {
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
}

.page .checklist-item p {
	margin: 10px 10px;
}

.page .check-icon {
	color: green;
	margin: 10px 10px;
	height: 20px;
}

.page .checklist-item li {
	padding: 5px 50px;
	font-size: 18px;
}

.page .checklist-item ul {
	border: 1px solid black;
	margin: 10px 50px;
}

.page .checklist-item .break {
	flex-basis: 100%;
}

.page .large-info-block {
	display: flex;
	flex-direction: column;
	width: 95%;
	height: 250px;
	padding: 60px 100px;
	text-align: center;
	align-items: center;
	font-size: 22px;
  	border-top: 6px #007396 solid;
}

.page .small-info-block {
	display: flex;
	flex-direction: column;
	width: 35%;
	padding: 15px 20px;
	text-align: center;
	align-items: center;
	font-size: 22px;
	border-top: 6px #007396 solid;
	margin: 10px;
}



.page .dynamic-note {
	text-align: center;
	border-radius: 4px;
	margin: 20px 60px;
}



.page .with-link a {
    width: 25%;
    border-radius: 40px;
    border: 1px solid black;
    box-shadow: 2px 2px #00000050;
    font-size: 20px;
    text-emphasis: bold;
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .page .with-link {
    border-bottom: 3px solid #B6A269;
  }

  .page .paragraph-emphasis {
    text-align: center;
    font-size: 22px;
    margin: auto 0;
    padding: 30px 30px;
    font-family: "FranklinGothic", sans-serif;
    font-weight: 700;
  }

  .page .page-icon {
      font-size: 48px;
      text-align: center;
      margin: auto;
      padding: 30px;
  }

  .page .withIcons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      justify-items: center;
  }
  
  
  

  
  /*#region HIGHLIGHT (Bulletpoints) section*/
 
  

  
.page .highlight {
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    
    font-family: "BaskervilleITC", sans-serif;
    box-shadow: 4px 4px #00000050;
}

  .page .highlight:hover {
      transform: scale(1.30);
      transition: 0.5s;
	  border-top: 6px #007396 solid;
  }

  
/*#endregion*/
  
/*#region SUB PAGE HIGHLIGHT (sub page overviews) section*/

  
.page .sub-page-highlight-section ul {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px;
}
  
.page .sub-page-highlight {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: "BaskervilleITC", sans-serif;
    box-shadow: 4px 4px #00000050;
}

.page .sub-page-highlight:hover {
      transform: scale(1.08);
      transition: 0.5s;
      background-color: white;
      color: black;
}

.page .sub-page-highlight-section a {
      width: 50%;
      border-radius: 40px;
      border: 1px solid black;
      box-shadow: 2px 2px #00000050;
      font-size: 20px;
      text-emphasis: bold;
      align-self: center;
      display: flex;
      justify-content: center;
      padding: 30px;;
      text-align: center;
      margin-top: 20px;
}
/*#endregion*/








.page .info-block a, .coming-soon, .link {
  width: 50%;
  border-radius: 40px;
  border: 1px solid black;
  box-shadow: 2px 2px #00000050;  
  font-size: 20px;
  text-emphasis: bold;
  color: white;
  align-self: center;
  display: flex;
  justify-content: center;
  padding: 10px;;
  text-align: center;
  text-decoration: none;
}

.page .icon {
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.page button:hover {
	cursor: pointer;
}


















/*#region HOME INTRO TILE*/
.page .intro {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to right, #000000, transparent 70%),
    url('../../images/tower.jpg');
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover;
	color: white;
}

.page .ad-content {
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-content: space-around;
}

.page .intro h2 {
	text-decoration: none;
	padding: 30px 0px 0px 60px;
	font-size: 48px;
}

.page .intro h3 {
	text-decoration: none;
	text-align: left;
	margin: auto 0;
	padding: 10px 10px 40px 30px;
}
/*#endregion*/

/*#region SYMPOSIUM AD*/
.page .symposium {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
	url('../../images/symposium.jpg');
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover;
	color: white;
	text-align: center;
	justify-items: center;
}

.page .symposium > .ad-content > h3 {
	font-size: 22px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	width: 90%;
	text-align: center;
	margin: 10px auto 5px;
	padding: 10px;
}

.page .symposium > .ad-content > div {
	font-size: 18px;
	width: 50%;
	margin: 2px auto;
	padding: 2px 5px;
	border: 1px solid white;
	border-radius: 10px;
}

.page .symposium > .ad-content > p {
	font-size: 18px;
	width: 75%;
	display: flex;
	margin: 2px auto;
}
/*#endregion*/




.page .info-section,
.page .highlight-section,
.page .sub-page-highlight-section,
.page .list-section,
.page .important-note-section,
.page .checklist-section {
	display: flex;
	flex-direction: column;
	justify-items: center;
}

.page .list-section,
.page .checklist-section {
	padding: 30px 60px;
}

.page .list-section h4,
.page .checklist section h4 {
	font-size: 24px;
	margin-top: 10px;		
}

/*Special*/
.page .vid {
	display: flex;
	justify-content: center;
	padding: 45px 15px;
	width: 100%;
}

.page .vision-and-mission > h4 {
	width: 150px;
	height: 150px;
	margin: 15px auto;
}

.page .vision-and-mission > p {
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
}

.page .goals > .ad-block {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	width: 350px;
	height: 350px;
	border: 2px solid black;
	text-align: center;
	padding: 10px;
}

.page .back-button,
.page .next-button {
	margin: auto 15px;
	border: none;
	background: none;
	outline: none;
	box-shadow: none;
}

.page .main-slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/*Bullet Highlight*/
.page .bullet-highlight {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	padding: 10px;
	margin: 10px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 4px 4px #00000050;
}

.page .bullet-highlight:hover {
	background-color: #007396;
	color: white;
}

