.open-top {
  height: 100vh;
}

.open-content {
  margin-top: 100vh;
}

.closed-top {
  height: 0px;
}

.closed-content {
  margin-top: 0px;
}

body {
  overflow-y: hidden;
}

#content {
  padding: 15px;
  transition: margin-top 0.7s;
  overflow: hidden;
  height: 100%;
}

.slide a {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 36px;
}

.close a {
  display: flex;
  justify-content: center;
  color: #ccc;
  font-size: 36px;
  padding-top: 10px;
}

.nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282828;
  overflow-y: hidden;
  padding-top: 0px;
  transition: 0.7s;
}

.nav a.item {
  display: flex;
  flex-direction: row;
  padding: 18px 30px;
  font-size: 22px;
  text-decoration: none;
  color: #ccc;
  background-color: #3d3d3d;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  height: auto;
}

.nav a.sub-item {
  display: flex;
  flex-direction: row;
  padding: 12px 90px;
  font-size: 18px;
  text-decoration: none;
  color: #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.last {
  border-right: 1px solid #ccc;
}

.nav a.item:hover {
  background-color: #cf0000;
  color: #fff;
  transition: 0.4s;
}

.nav .icon {
  padding-right: 10px;
  font-size: 28px;
  width: 10%;
}

.plus {
  padding-left: 30px;
}